@import "/src/styles/styles.scss";

.info-form {
    display: flex;
    flex-direction: column;
}

.info-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__text {
        margin: 0px 10px 0 0;
        font-family: Arial;
        font-size: 32px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    &__button {
        width: 48px;
        height: 44px;
        border-radius: 6px;
        border: white;
        background-image: linear-gradient(to top, $aztec-purple, $periwinkle-blue);
        cursor: pointer;
    }

    &__img {
        width: 23px;
        height: 26px;
    }
}

.info-content {
    font-family: Arial;
    font-size: 32px;
    line-height: 1;
    text-align: left;
    color: #000;
}

