<div class="backdrop">
    <div class="popup">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="popup__container">
                <div class="popup__header">
                    <button class="popup__close" (click)="onCloseButtonClicked()">
                        <img src="./assets/close-img.png" alt="Close button">
                    </button>
                </div>
                <div class="popup__content">
                    <ng-content></ng-content>
                </div>
            </div>
            <div class="popup__footer">
                <button class="popup__save" type="submit" [disabled]="!formGroup.valid">Сохранить</button>
                <button class="popup__cancel" type="button" (click)="onCloseButtonClicked()">Отмена</button>
            </div>
        </form>
    </div>
</div>