<div class="home-content">
    <div class="info-block__name">
        <app-info-block 
            header="Имя Фамилия" 
            [content]="[user.firstName, user.lastName]  | fullName" 
            type="name" 
            (formSubmitted)="onSubmit($event)"
            [formGroup]="nameForm"
        >
            <div class="name-content">
                <app-name-input id="firstName" name="Имя" [parentForm]="nameForm"></app-name-input>
                <app-name-input id="lastName" name="Фамилия" [parentForm]="nameForm"></app-name-input>
            </div>
        </app-info-block>
    </div>

    <div class="info-block__occupation">
        <app-info-block 
            header="Род деятельности" 
            [content]="user.occupation" 
            (editClicked)="onEdit($event)"
            (formSubmitted)="onSubmit($event)"
            [formGroup]="occupationForm"
        >
            <div class="occupation-content">
                <div *ngFor="let item of occupationsArray; let i = index" class="occupation-content__group-item">
                    <input 
                        class="occupation-content__radio" 
                        type="radio" 
                        [id]="'radio' + i"  
                        [value]="item" 
                        formControlName="occupation"
                    >
                    <label [for]="'radio' + i">{{item}}</label>
                </div>
            </div>
        </app-info-block>
    </div>
</div>

