@import "/src/styles/styles.scss";

.home-content {
    display: flex;
    flex-direction: column;
    padding-left: 61px;
    padding-top: 45px;
}

.info-block__occupation {
    margin-top: 65px;
}

.name-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    min-height: 120px;
}

.occupation-content {
    min-height: 120px;
    font-family: $font-family-main;
    font-size: $font-normal;
    line-height: 2;
    overflow-y: scroll;
    max-height: 200px;
    margin: 30px;

    &__group-item {
        & label{
            margin-left: 5px;
            cursor: pointer;
        }

        & input{
            margin-bottom: 5px;
            -webkit-appearance: none;
            appearance: none;
            width: 28px;
            height: 28px;
            border: solid 2px $gunsmoke;
            border-radius: 28px;
            background-color: #fff;
            vertical-align: middle;
            box-shadow: inset 1em 1em var(--form-control-color);
            cursor: pointer;

            &:hover{
                @include radio-theme;
                background: $aztec-purple;
                opacity: 0.3;
            }

            &:focus{
                @include radio-theme;
                opacity: 1;
            }

            &:checked{
                @include radio-theme;
                background: $aztec-purple-border;
                opacity: 1;
            }
        }
    }
}