@import "/src/styles/styles.scss";

.home-content {
    display: flex;
    flex-direction: column;
    padding-left: 61px;
    padding-top: 45px;
}

.info-block__occupation {
    margin-top: 65px;
}


.name-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    min-height: 120px;

    & label {
        position:relative;

        & span{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(30px);
            transition-duration: 300ms;
            font-family: Arial;
            color: gray;
            margin-top: -16px;
            margin-left: 12px;
            font-size: 0.9rem;
        }

        &:focus-within > span,
        input:not(:placeholder-shown) + span{
            color:$aztec-purple;
            transform:translateY(8px);
            font-size: 0.8rem;
            background-color: white;
        }

    }

    &__name {
        width: 45vw;
        height: 4vh;
        min-width: 466px;
        min-height: 40px;
        border-radius: 6px;
        border: solid 1px #aaa;
        background-color: #fff;
        padding-left: 12px;

        &:hover {
            border: solid 1px $aztec-purple;
        }

        &:focus {
            color: $aztec-purple;
            border: solid 1px $aztec-purple;
            box-shadow: 0px 0px 3px 0px $aztec-purple;
            outline: none;
        }

        &::placeholder{
            opacity:0;
        }
    }
}

.occupation-content {
    min-height: 120px;
    font-family: $font-family-main;
    font-size: $font-normal;
    line-height: 2;
    overflow-y: scroll;
    max-height: 200px;
    margin: 30px;

    &__group-item {
        & label{
            margin-left: 5px;
            cursor: pointer;
        }

        & input{
            margin-bottom: 5px;
            -webkit-appearance: none;
            appearance: none;
            width: 28px;
            height: 28px;
            border: solid 2px $gunsmoke;
            border-radius: 28px;
            background-color: #fff;
            vertical-align: middle;
            box-shadow: inset 1em 1em var(--form-control-color);
            cursor: pointer;

            &:hover{
                @include radio-theme;
                background: $aztec-purple;
                opacity: 0.3;
            }

            &:focus{
                @include radio-theme;
                opacity: 1;
            }

            &:checked{
                @include radio-theme;
                background: $aztec-purple-border;
                opacity: 1;
            }
        }
    }
}